/* Wrapper  */

@import '/styles/wrapper/wrapper.css';

/* Header */

@import '/styles/header/header.css';

/* Sectable */

@import url(./styles/sec-table/sec-table.css);


/*  */


button:active {
    transition: .13s;
    transform: translateY(2px);
}

.button {
    height: 21px;
    font-size: 11px;
    cursor: pointer;
}


input:focus,
select:focus {
    outline: 2px solid #485fc792;
}


.main-table {
    margin: 20px auto;
    width: fit-content;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #485fc74b;
    vertical-align: middle;
    /* resize: horizontal; */
    /* overflow-x: scroll; */
    padding: 5px;
    outline: 1px solid #485fc724;
}

.main-table input[type="text"] {
    width: 120px;
    height: 21px;
    text-align: right;
    border: none;
    outline: 1px solid #0000006d;
}

.main-table input[type="text"]:disabled {
    background-color: #e0e0e0;
}

.main-table input[type="text"]:enabled:hover {
    transition: .13s;
    background: #f3ff7a;
}

.main-table label {
    font-size: 11px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.main-table tbody {
    border-right: 1px solid #030a256d;
}

.main-table tr {
    height: 21px;
}

.main-table tr:nth-child(2n) {
    background-color: #485fc724;
}

.main-table tr td:first-child {
    font-size: 11px;
}

.main-table td {
    font-size: 14px;
    /* line-height: 110%; */
    outline: 1px solid #485fc724;
    vertical-align: middle;
}

.main-table td div {
    width: max-content;
    padding: 0 4px;
    height: 100vh;
    max-height: 21px;
}

/* Res-table */

.res-table {
    margin: 20px auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #485fc74b;
    vertical-align: middle;
    /* resize: horizontal; */
    /* overflow-x: scroll; */
    padding: 5px;
    outline: 1px solid #485fc724;
}

.res-table td {
    font-size: 14px;
    line-height: 100%;

    outline: 1px solid #485fc724;
    vertical-align: middle;
}

.res-table td div {
    width: max-content;
    padding: 0 4px;
    height: 100vh;
    max-height: 21px;
}



.num {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: #485fc724;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
}

.res-table button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.res-table .child-row-btn {
    width: 23px;
    height: 23px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}